/*h1 {*/
/*    color: darkgoldenrod;*/
/*    background-color: red;*/
/*}*/

/*body {*/
/*    background-color: cadetblue;*/
/*}*/

form {
    display: flex;
    flex-direction: column;
    width: 30vw ;
    margin-bottom: 2em;
}

form > label {
    font-weight: bold;
}

input, textarea {
    margin-bottom: 1em;
}

button {
    width: 20vh;
}

h4 {
    margin-bottom: 0.3em;
}

.note {
    margin-bottom: 2em;
}

a > h4 {
    font-weight: lighter;
}