<!DOCTYPE html>
<html lang="ENG">
<head>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="shortcut icon" href="#">
    <script src="/static/js/script.js" defer></script>
    <meta charset="UTF-8">
    <title>Guestbook</title>
</head>
<body>
<h1>GUESTBOOK</h1>
<h2>editing note posted at {{ note.date }}</h2>
<form id="note-form" method="POST">
    <label for="name"> Your name:</label>
    <input type="text" name="name" placeholder={{ note.name }}>
    <label for="message">Your message:</label>
    <textarea name="message" placeholder={{ note.message }}></textarea>
    <button type="submit">Update note</button>
</form>
</body>
</html>